.carousel-inner {
    padding: 1em;
    text-align: center;
}

.btn {
    color: aqua;
}

#carouselExampleControls {
    background-color: #a7baca;
    width: 100%;
    height: auto;
    min-height: 22em;
}

.carousel-item {
    /* margin-top: 50px; */
    /* text-align: center; */
    color: white;

}

/* .carousel-item h1{
    position: fixed;
} */
h1 {
    margin-top: 55px;
    margin-bottom: 10px;
    color: white;
}

.p1 {
    margin-top: 15px;
}

svg {
    margin-bottom: 4px;
    /* background-color:darkgray; */
    margin-right: 10px;
}