*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100vh;
    background-color: lightgrey;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:black;
  }
  .main{
    width: 350px;
    background-color: #fff;
    height: 400px;
    margin:auto;
    border-radius: 20px;
  }
  .main::-webkit-scrollbar {
    display:none;
  }
  .mybtn:hover{
    font-weight: 600;
    background-color: white;
    border: none ;
  }
  .sidebar{
    width:260px;
    flex-shrink: 0;
    background-color:white;
    height: 40%;
    overflow: auto;
  }
  li{
    color:gray;
    display: block;
    flex-shrink: 0;
  }
  li:hover{
    color:black;
  }