.Cart-container{
 
    width: 60%;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    background-color:#ebe2e200;
}
.Privous-button{
  margin: 9px 0 0 10px;

}
.location-w-item{
    
    width: 725px;
    height: 40px;
border: 2px solid whitesmoke;
margin-left: 15px;
margin-top: 10px;

display: flex;
background-color: whitesmoke;
border-radius: 3px;


}
.navbar-nav{
    font-size: small;
    float: left;
}
.p1{
    font-size: large;
    font-weight: 600;   
   margin-left:150px ;
   padding-top:5px ;
   
}

.first-item{
    /* border: 2px solid black ; */
    width: 725px;
    margin-left: 15px;
    background-color: whitesmoke;
    margin-top: 2px;
    border: 2px solid whitesmoke;
    border-radius: 3px;
   display: flex;
   padding-right:10px ;
  
}
/* hr{
    margin-left: 5px;
    margin-right: 5px;
} */
.container{
    display: flex;
}
.container .discript1{
    margin-top:5px;
    margin-left: 10px;
}
.discript1 h6{
    margin:0px ;
}
.container p{
    font-size: small;
    margin-bottom: 0;
}
.count{
    width: 89px;
    height: 30px;
    border: 1px solid #14bef0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14bef0;
    text-align: center;
}
.count button{
    border: none;
    height: 27.5px;
    /* margin-top: 1px; */
    width: 25px;
    color: #14bef0;

}
 .count span{
    padding-left:11.5px;
 
    background-color: #14bef0;
    color: white;
}
.price-section p{
    text-align: right;
}
.Add-more{
    width: 725px;
    height: 100px;
    margin-left: 15px;
    margin-top: 3px;
    background-color:whitesmoke;
}

.Add-more .Addmorebutton{
    border: 1.5px solid #14bef0 ;
    background-color: white;
    color: #14bef0;
    width: 150px;
    height: 27px;
    font-size: small;
    margin-left: 13px;
    margin-top: 4px;
}
.Addmorebutton:hover {
    background-color: #14bef0;
    color: white;
    transition: .3s;
}
.cart-footer{
    height: 78px;
    width: 725px;
    margin-left: 15px;
    margin-top: 3px;
    /* border: 2px solid black; */
    background-color: whitesmoke ;
   
    /* border */
}
.cart-footer p{
    padding-top: 5px;
    padding-left: 7px;
}
.checkoutbtn{
    width: 703px;
    height: 30px;
    margin-left: 11px;
    background-color: #14bef0;
    color: white;
    border: none;
    font-weight: 450;
    border-radius: 2px;
   font-size: medium;
}
