@media screen and (min-width: 1200px) and (max-width: 1555px) {
  .features-card-responsive {
    padding: 1em 5em !important;
    width: auto;
  }
}

.features_card {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  /* background-color: #64E3FB; */
  background-color: var(--color-secondary);
}

.features-card-title {
  color: #010101;
  font-size: 28px;
  font-family: 'DM Sans', sans-serif;
  word-spacing: 2px;
  letter-spacing: 0.3px;
}

.features-card-content {
  padding: 16px;
}


.features-card-description {
  color: #212121;
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 15px;

}

.features-card-image-container {}

.features-card-image {
  width: 100%;
  max-width: 300px;
  height: 100%;
  object-fit: cover;
}

.features_btn {
  color: #010101;
  padding: 0.8em 1em;
  border-color: #010101;
  background-color: transparent;
  font-weight: 555;
  transition: background-color 0.3s ease;
}

.features_btn:hover {
  background-color: #010101;
  color: #ffffff;
}

#button-container:hover #test-container svg {
  transform: translateX(6px);
}