.service_card {
  position: relative;
  width: 198.677px;
  height: 288.667px;
  border: 1px solid #f0f0f5;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
  display: block;
  overflow: hidden;
}

.service_card_img {
  object-fit: contain;
  position: relative;
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: 170px;
  background: #AFCFED;

}

.service_info {
  position: relative;
  padding: 1px 15px 0px;
}

.row-1 {
  margin-top: 0.3em;
  padding-bottom: 0px;
  color: #2d2d32;
  font-weight: 550;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.row-2 {
  margin-top: -6px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #787887;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  .service_card { 
    /* width: 100%; */
  }
}

@media (max-width: 469px) {
  .service_card { 
    width: 100%;
  }
}
@media (max-width: 321px) {
  .service_card_container{
    width: 100%;
  }
}