.card {
  border-radius: 25px;
  position: centre;
  padding: 25px 15px;
  background-color: rgb(247, 245, 245);
  margin: 50px 0;
  height: auto;
  width: 600px;
  box-shadow: 0 2px 5px #eeeeee;
  text-align: left;
  display: flex;
  flex-direction: column;
  .align-right {
    display: flex;
    justify-content: flex-end;
  }
  
}

.top {
  border-radius: 25px 25px 0 0;
  flex: 1;
  background-color: #f0fcfc;
  display: flex;
  align-items: center;
  padding: 20px;
}

.name {
  font-size: 2em;
  color: #141414;
  margin: 0;
  flex: 1;
}

.card img {
  margin-right: 20px;
}

.rect-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  background-color: #84ceee;
  padding: 20px;
  border-radius: 0 0 25px 25px;
}
