@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.maincontainer {
    height: 572px;
    width: 1349px;
    background-color: #f8f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagecontainer {
    width: 436px;
    height: 572px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

img {
    height: 376px;
    width: 332px;

}

.infocontainer {
    height: 316px;
    width: 436px;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none solid rgb(65, 65, 70);
    vertical-align: top;
}

.paragrph {
    width: 436px;
    height: 51px;
    margin: 20px 0 0;
    display: block;
    font-size: 15px;
    text-decoration: none solid rgb(65, 65, 70);
}

.linkadd {
    /* height: 24px;
    width: 436px; */
    margin: 50px 0 0;
}

.numbercode {
    height: 47px;
    width: 55.375px;
    border-right: 1px solid #B4B4BE;
    font-size: 14px;
    font-weight: 700;
    vertical-align: bottom;
}

.input-group {
    height: 47px;
    margin-top: 15px;
    width: 254px;
}

.input-group-text {
    width: 55.375px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px 15px 15px;
    height: 47px;
}

.input-group input {
    width: 198.62px;
    height: 47px;
    padding: 1px 2px 1px 20px;
    min-height: auto;
    min-width: auto;
    cursor: text;
}

.input-btn {
    display: flex;
}

.btn {
    height: 47px;
    width: 121.688px;
    background-color: #14BEF0;
    margin: 15px 15px;
}

.btn-dark {
    background-color: #36363a;
    height: 40px;
    width: 138px;
}

.btn-dark svg {
    margin-bottom: 3px;
}

.paragrph {
    font-family: 'Lato', sans-serif;
    color: #414146;
}

.heading {
    color: #414146;

}