.main{
  margin:auto;
  margin-top: 8%;
}
.offer1{
  border-radius: 20px;
}
.code{
  font-size:20px;
  font-weight:500;
  
}
.copycode{
  color:#56c7e6;
  background-color:#d6ebf3;
  height:40px;
  width:100px;
  font-size:13px;
  font-weight:bold;
}
