.btn{
    font-size: 12px;
}
.abc{
    border: 1px solid purple;
    color:purple
}
.status{
    font-size: 11px;
}

.drName{
    color:blueviolet;
    font-size: 20px;
}

.detail{
    font-size: 12px;
}
span{
    font-size: 10px;
    margin-left: 15px;
}
.rating{
    font-size: 10px;
    width: 35px;
}