.icon
{
    width: 200px;
    float: left;
    height: 70px;
}

.logo
{
    color: #FF7200;
    height: 50px;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
 }

 .icon a
{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon
{
    align-items: center;
    color: #fff;
    font-size: 22px;
    padding-left: 14px;
    padding-top: 5px;
    transition: .3s ease;
}

.icon ion-icon:hover
{
    color: #ff7200;
}
