.appointment-container {
    height: 100vh;
    width: 150vh;
  }
  
  .card-appointment {
    text-align: center;
  }
  
  .card-title {
    color: black;
  }
  
  .separator {
    color: gray;
  }
  
  .form-group label {
    font-weight: 500;
  }
  
  .input-checkbox label {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .create-appoint-button {
    width: 160px;
    background: purple;
    border-radius: 10px;
    height: 40px;
    color: white;
  }
  