
.search-area-container{
  height: 30em;
  width: 100%;
  background-color: #cbc9f8;
  border-radius: 2em;
  overflow: hidden;
}

.search-area-image-container{
  background-color: #f8ddc9;
  object-fit: cover;
  object-position: right;
  height: 100%;
  width: 100%;
}