.search-box-1 {
    width: 100%;
    max-width: 25%;
}

.search-box-2 {
    width: 100%;
    max-width: 55%;
}

@media (max-width: 1345px) {
    .search-box-1 {
        max-width: 40%;
    }

    .search-box-2 {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .search-box-1 {
        max-width: 100%;
    }

    .search-box-2 {
        max-width: 100%;
    }
}

.search-container {
    margin-top: 1rem;
    position: relative;
    background: #ffffff88;
    border: 1px solid #ffffff33;
    backdrop-filter: blur(8px);
    box-shadow:  0 3px 32px 0px rgb(0 0 0 / 30%);
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.search-box-input {
    text-indent: 15px;
    border: none;
    min-height: 48px;
    width: 100%;
    background: transparent;
    /* max-width: 20em; */

}

.search-box-input:focus {
    outline: transparent;
    box-shadow: none;
}

.search-suggestion-container {
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    top: 4em;
    
}
.search-suggestion-container > div {
    border-radius: 1em;
    background: #ffffffcc;
    border: 1px solid #ffffff33;
    /* box-shadow:  0 0px 32px 10px rgb(0 0 0 / 30%); */
    backdrop-filter: blur(8px);
}

.dots {
    height: 7px;
    width: 7px;
    background-color: #777;
    display: flex;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

.yellow {
    color: #ffab2e;
}

.content-text-1 {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffe7cc;
    color: #ffa03a;
    font-weight: 700;
}


.blue {
    color: #6ecce6;
}


.content-text-2 {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e2f5fa;
    color: #6ecce6;
    font-weight: 700;
}


.dark-blue {
    color: #572ce8;
}


.content-text-3 {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #572ce86b;
    color: #572ce8;
    font-weight: 700;
}